dist: xenial
language: python
python: 3.6
script: skip

env:
  NGROK_TOKEN: 1RER6BUC3QNNwYWY5LcIBjrv3A8_24QccmopTEQJGMErG9uzw

jobs:
  include:
    - stage: test
    #run unit tests for render
    - language: python
      python: 3.6
      env:
        TEMPLATES_DIR: inputs/templates
        VARS_DIR: inputs/variables
        SCRIPTS_DIR: tests
        ISOLATED: true
      before_install:
        - pip3 install -r requirements.txt
        - pip3 install coveralls
      before_script:
        - py.test $SCRIPTS_DIR/render_test.py --cov=entities
      script:
        - python3 -m unittest discover $SCRIPTS_DIR "render_test.py"
      after_script:
        - coveralls

    #run testrunner tests in docker
    - language: python
      python: 3.6
      services: docker
      env:
        SCRIPTS_DIR: tests
        ISOLATED: true
      before_install:
        - docker build -t dinutac/estuary-testrunner:latest -f Dockerfile .
        - chmod +x ngrok.sh
        - docker run
          -d
          -p 8080:8080
          -v $PWD/inputs/templates:/home/dev/scripts/inputs/templates
          -v $PWD/inputs/variables:/home/dev/scripts/inputs/variables
          --name estuary-testrunner
          dinutac/estuary-testrunner:latest
      script:
        - docker exec estuary-testrunner python3 -m unittest discover /home/dev/scripts *_test.py
        - docker exec estuary-testrunner python3 -m unittest discover /home/dev/scripts "render_test.py"

      #run executable tests. exec with pyinstaller
    - language: python
      python: 3.6
      services: docker
      env:
        ISOLATED: true
        NGROK_TOKEN: 1RER6BUC3QNNwYWY5LcIBjrv3A8_24QccmopTEQJGMErG9uzw
        SKIP_ON_VM: true
      before_script:
        - pip3 install -r requirements.txt
        - pyinstaller --onefile main_flask.py
        - pyinstaller --onefile start.py
        - ls -lrt dist
        - cp dist/main_flask main-linux
        - \cp dist/start start.py
        - chmod +x main-linux
        - sudo chown -R travis:travis inputs
        - ls -lrt
      script:
        - ./main-linux > /dev/null 2>&1 &
        - ls -lrt
        - sleep 5
        #  - ./ngrok.sh
        #  - sleep 3600
        - python3 -m unittest discover tests/rest "*_test.py"
        - ls -lrt /tmp
        - ps -ef

    #run executable tests - centos docker
    - language: python
      python: 3.6
      services: docker
      env:
        ISOLATED: true
        NGROK_TOKEN: 1RER6BUC3QNNwYWY5LcIBjrv3A8_24QccmopTEQJGMErG9uzw
        SKIP_ON_VM: true
      before_script:
        - pip3 install -r requirements.txt
        - pyinstaller --onefile main_flask.py
        - pyinstaller --onefile start.py
        - ls -lrt dist
        - cp dist/main_flask main-linux
        - \cp dist/start start.py
      script:
        - docker build -t dinutac/estuary-testrunner:latest -f Dockerfiles/Dockerfile_centos .
        - docker run
          -d
          -p 8080:8080
          -v $PWD/inputs/templates:/home/dev/scripts/inputs/templates
          -v $PWD/inputs/variables:/home/dev/scripts/inputs/variables
          --name estuary-testrunner
          dinutac/estuary-testrunner:latest
        - sleep 5
        #  - ./ngrok.sh
        #  - sleep 3600
        - python3 -m unittest discover tests/rest "*_test.py"

        #run templating tests
    - language: python
      python: 3.6
      services: docker
      env:
        ISOLATED: true
        DOCKER_SCRIPTS_DIR: /home/dev/scripts
      before_script:
        - docker build -t dinutac/estuary-testrunner:latest -f Dockerfile .
      script:
        #check template render
        - docker run -i
          -v $TRAVIS_BUILD_DIR/inputs/templates:/home/dev/scripts/inputs/templates
          -v $TRAVIS_BUILD_DIR/inputs/variables:/home/dev/scripts/inputs/variables  -e TEMPLATE=standalone.yml
          -e VARIABLES=variables.yml -e DATABASE=mysql56 -e IMAGE=latest --entrypoint python3 dinutac/estuary-testrunner:latest
          $DOCKER_SCRIPTS_DIR/main.py

        #check template render
        - docker run --entrypoint jinja2
          -v $TRAVIS_BUILD_DIR/inputs/templates:/home/dev/scripts/inputs/templates
          -v $TRAVIS_BUILD_DIR/inputs/variables:/home/dev/scripts/inputs/variables
          dinutac/estuary-testrunner:latest
          /home/dev/scripts/inputs/templates/json.j2 /home/dev/scripts/inputs/variables/json.json --format=json

    - language: python
      python: 3.6
      services:
        - docker
      env:
        SCRIPTS_DIR: tests
        DOCKER_SCRIPTS_DIR: /home/dev/scripts
        ISOLATED: true
      before_script:
        - docker build -t dinutac/estuary-testrunner:latest -f Dockerfile .
      script:
        #run eureka registration tests
        - docker-compose up -d
        - sleep 40
        - docker ps -a
        - docker exec estuary-testrunner python3 -m unittest discover $DOCKER_SCRIPTS_DIR/tests/rest_eureka "*_test.py"
        - docker-compose down -v

    - stage: deploy
      before_script:
        - pip3 install -r requirements.txt
        - pyinstaller --onefile main_flask.py
        - pyinstaller --onefile start.py
        - ls -lrt dist
        - cp dist/main_flask main-linux
        - \cp dist/start start.py #this is now binary, bro
        - ls -lrt
      deploy:
        - provider: script
          script: docker_push.sh
          on:
            tags: true
            branch: master

        - provider: releases
          api_key: $GITHUB_TOKEN
          file:
            - "main-linux"
            - "start.py"
          skip_cleanup: true
          on:
            tags: true



