version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  build-and-test:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      - checkout
      - run:
          command: pip install -r requirements.txt
          name: "install requirements"
      - run:
          command: pip install pypiwin32
          name: "install pypiwin32"
      - run:
          command: pyinstaller --onefile --clean main_flask.py
          name: "build main-win"
      - run:
          command: Copy-Item "dist\main_flask.exe" -Destination "main-win.exe"
          name: "copy main-wi"
      - run:
          command: pyinstaller --onefile --clean start.py
          name: "build start.py"
      - run:
          command: Copy-Item "dist\start.exe" -Destination "start.py"
          name: "copy start.py"
      - run:
          command: Start-Process .\main-win.exe
          name: "start main-win"
      - run:
          command: ping -n 5 127.0.0.1
          name: "wait some time"
      - run:
          command: python -m unittest discover tests/rest-win "*_test.py"
          name: "run integration tests"

workflows:
  main:
    jobs:
      - build-and-test
